		body {
			margin: 0;
			background: #fff;
			font-family: 'Nunito', sans-serif;
			overflow-y: auto;
			overflow-x: hidden;
		}
		.body--browse, .body--graphic, .body--manage {
			min-height: 42vw;
			padding-bottom: 3vh;
		}
		.top {
			position: relative;
			width: 100vw;
			min-height: calc((1440/1258)*100%);
			min-width: 500px;
			background: url(imgs/bg.png) no-repeat;
			background-size: 100%;

			padding-top: calc(1258/1440 * 90%);
		}
		.top__logo {
			position: absolute;
			top: 3.81vh;
			left: 4.46vw;
		}
		.top__logo img {
			width: 5.55vw;
			min-width: 60px;
		}
		.top__navbar {
			position: absolute;
			display: inline-flex;
			justify-content: space-between;
			top: 5vh;
			right: 4.2vw;
			width: 35vw;
			min-width: 380px;
		}
		.top__navbar a {
			text-decoration: none;
			font-weight: 600;
			color: #fff;
			border-radius: 5px;
			display: inline-block;
			padding: 3px 11px;
			transition: 400ms;
		}
		.top__navbar a:last-child {
			background-color: #fff;
			opacity: 0.9;
			color: #000;
		}
		.top__navbar a:hover, section > a:hover {
			text-decoration: underline;
			border-radius: 2px;
			box-shadow: 0 0 5px 1px currentColor;
		}
		.top__navbar a:last-child:hover {
			opacity: 1;
		}
		.top__body {
			position: absolute;
			top: 15vh;
			left: 4.46vw;
			color: #fff;
			height: 100%;
		}
		.top__body h1 {
			font-size: 3.5vw;
			font-weight: 800;
			letter-spacing: 0.02em;
		}
		.top__body p {
			display: block;
			width: 45vw;
			font-weight: 600;
			font-size: 2.5vw;
			line-height: 5.13vw;
			letter-spacing: 0.02em;
		}
		.body--welcome {
			position: relative;
			width: 100vw;
			min-height: 21vh;
			color: #333;
			letter-spacing: 0.02em;
		}
		.body--welcome h2 {
			margin-top: 3vw;
			font-size: 1.66vw;
			line-height: 2.21vw;
			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
		}
		.body--welcome p {
			margin: 5vh 8.5vw;
			width: 82vw;
			font-size: 1.25vw;
			line-height: 2.4vw;
			text-align: center;
			letter-spacing: 0.02em;
		}

		.body--browse {
			position: relative;
			width: 100vw;
		}
		.body--browse:before {
			position: absolute;
			content: '';
			top: 41%;
			left: 7%;
			width: 27vw;
  			height: 24vw;
  			background: url("data:image/svg+xml,%3Csvg width='22px' height='22px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Ccircle cx='11' cy='11' r='2' fill='%23C4C4C4'%3E%3C/circle%3E%3C/svg%3E");
		}
		.body--browse h2 {
			font-size: 3.125vw;
			line-height: 4.72vw;
			color: #076572;
			position: absolute;
			width: 36.8vw;
			left: 13vw;
			top: 50%;
			transform: translateY(-50%);
		}
		.body--browse--link {
			position: absolute;
			left: 13vw;
			top: 82%;
		}
		.body--browse--firstImg, .body--browse--secondImg {
			position: absolute;
			box-shadow: 0 0 12px 0 #777;
			width: 21.7vw;
			height: 17.6vw;
			border-radius: 2.85px;
		}
		.body--browse--firstImg {
			background: url('imgs/packs.png') no-repeat;
			background-size: cover;
			top: 30%;
			left: 52vw;
			z-index: 2;
		}
		.body--browse--secondImg {
			background: url('imgs/car.png') no-repeat;
			background-size: cover;
			top: 50%;
			left: 67vw;
			z-index: 3;
		}
		.body--browse--firstImg--inner-div {
			background-color: rgba(255, 255, 255, 0.4);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.body--graphic, .body--manage {
			position: relative;
			width: 100vw;
			height: calc(500/1440*100vw);
		}
		.body--graphic {
			background-color: #fafafa;
		}
		.body--graphic:before {
			position: absolute;
			content: '';
			top: 9%;
			left: 7.9%;
			width: 27vw;
  			height: 28vw;
  			background: url("data:image/svg+xml,%3Csvg width='22px' height='22px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Ccircle cx='11' cy='11' r='2' fill='%23C4C4C4'%3E%3C/circle%3E%3C/svg%3E");
		}
		.body--graphic h2, .body--manage h2 {
			font-weight: 600;
			font-size: 3.125vw;
			color: #076572;
		}
		.body--graphic p, .body--manage p {
			color: #333;
			font-size: 1.25vw;
		}
		.body--graphic > img, .body--manage > img {
			box-shadow: 0 0 10px 1px #aaa;
			width: 37vw;
		}
		.body--graphic h2 {
			position: relative;
			left: 52%;
			top: 9vw;
			width: 38.3vw;
			height: 59%;
		}
		.body--graphic p {
			position: relative;
			left: 52%;
			width: 38.3vw;
			padding: 4px 0;
		}
		.body--graphic--img {
			position: absolute;
			top: 9.5vw;
			left: 12.5vw;
		}
		.body--graphic--link {
			position: relative;
			left: 52%;
			padding: 4px 0;
		}
		.body--manage:before {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			width: 27vw;
  			height: 28vw;
  			transform: translate(-53%, -37%);
  			background: url("data:image/svg+xml,%3Csvg width='22px' height='22px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Ccircle cx='11' cy='11' r='2' fill='%23C4C4C4'%3E%3C/circle%3E%3C/svg%3E");
		}
		.body--manage h2 {
			padding-left: 9.8vw;
			padding-top: 11.6vw;
			width: 30vw;
			text-transform: capitalize;
		}
		.body--manage p {
			padding: 0 0 3vw 9.8vw;
			width: 32vw;
			height: 10%;
		}
		.body--manage--img {
			position: absolute;
			top: 9.5vw;
			left: 51vw;
		}
		.body--manage--link {
			margin-left: 9.8vw;
		}

		.viewMore--anchor {
			padding: 0 4px;
			font-size: 1.66vw;
			line-height: 2.6vw;
			text-decoration: none;
			color: #333;
			font-weight: 600;
		}
		.viewMore--svg {
			width: calc(19/20*1.3vw);
			margin-left: 2px;
		}
		.footer {
			position: relative;
			bottom: 0;
			width: 100vw;
			min-height: 120px;

			background-color: #30292F;
			color: rgba(255, 255, 255, 0.7);
		}
		.footer__top, .footer__bottom {
			margin: 0 6.85vw 0 9.65vw;
			width: 83.5vw;
			display: inline-flex;
			justify-content: space-between;
		}
		.footer__top {
			margin-top: 4.3vw;
		}
		.footer__top_left h3 {
			font-size: 1.25vw;
			line-height: 1.73vw;
		}
		.footer__top__left address a {
			color: #fff;
			letter-spacing: 0.02em;
			line-height: 2.3vw;
			text-decoration: none;
		}
		.footer__top__right h4 {
			font-size: 1.25vw;
			line-height: 1.49vw;
			font-weight: 200;
			font-style: normal;
			transform: translateY(-25%);
		}
		.footer__top__right__form {
			display: flex;
			width: 17.9vw;
			margin-bottom: 15px;
		}
		.footer__top__right__form input[type="text"] {
			width: 65%;
  			height: 3vw;
  			font-size: 0.9vw;
  			border: 0;
  			border-radius: 3px;
  			color: rgba(62, 61, 61, 0.5);
  			box-sizing: border-box;
  			padding-left: .8vw;
		}
		.footer__top__right__form input[type="submit"] {
  			width: 35%;
  			height: 3vw;
  			border-style: none;
  			border-radius: 3px;
  			background: #1768AC;
  			font-size: 1.11vw;
  			line-height: 1.31vw;
  			color: #fff;
  			cursor: pointer;
  			box-sizing: border-box;
  			transform: translateX(-.2vw);
		}
		.footer__top h4 {
			font-weight: 200;
			font-style: normal;
			margin: 1.5vw 0 .5vw 0;
		}
		.footer__bottom {
			margin-bottom: 2.36vw;
		}
		.footer__bottom > div {
			width: 10vw;
			min-width: 160px;
			display: inline-flex;
			justify-content: space-between;
		}
		.footer__bottom a {
			color: rgba(255, 255, 255, 0.7);
			text-decoration: none;
		}
		.footer__bottom_left {
			font-size: 1.11vw;
			line-height: 1.32vw;
		}
		.footer__bottom_right {
			font-size: 1.25vw;
			line-height: 1.46vw;
		}
		.footer hr {
			margin-left: 9.65vw;
			width: 83.5vw;
			border-color: rgba(218, 218, 218, 0.43);
		}
